@supports (-webkit-text-stroke: 1px rgb(252, 247, 247)) {
    h2 {
      -webkit-text-stroke: 1px black; 
    }
  }

  #message{
    background-color: grey;
  }
  #email{
    background-color: grey;
  }